# Yandex Direct API OAuth token
# Получить: https://oauth.yandex.ru/authorize?response_type=token&client_id=764119e8c8be4c39b6e2d3e6e9dab3c2
YANDEX_DIRECT_TOKEN=your_oauth_token_here

# (Опционально) Логин рекламодателя для агентских аккаунтов
# YANDEX_DIRECT_LOGIN=advertiser_login
